hr
// Footer
footer
.container
  .row
  .col-lg-12
  p Copyright &copy; WhereUAt.ninja


script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/bootstrap-slider.js')
script(src='/scripts/pirate.js')

block footer