extends layout

block content
  // Page Content
  .container-fluid
    .row
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        .carousel-inner(role='listbox')
          .carousel-item.active
            img.first-slide.img-fluid.center-block(src='/images/whereuat_ninja.png', alt='First slide')
          .carousel-item
            img.second-slide.img-fluid.center-block(src='/images/slide2.png', alt='Second slide')
          .carousel-item
            img.third-slide.img-fluid.center-block(src='/images/slide3.png', alt='Third slide')
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next