extends layout

block content
    .container
      .row
        .col-lg-2.sidebar
          ul.nav.nav-sidebar
            li
              a(href='#') Ninja 1
            li
              a(href='#') Ninja 2
            li
              a(href='#') Ninja 3
        .col-lg-9.main
          h2.sub-header My Map
          #map          

          h2.sub-header Time Range
          input#ex16b(type='text')
            
          h2.sub-header Activities
          #whereubeen.table-responsive
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCKJnJars0xRRUHCtbzBgTG7TWMQLk_rYc')  