extends layout

block content
    .container
      .row
        .col-lg-2.sidebar
          ul.nav.nav-sidebar
            each ninja in ninjas
              li
                a(href='#') ninja.name

        .col-lg-9.main
          h2.sub-header My Map
          #map

          h2.sub-header Time Range
          input#ex16b(type='text')

          h2 User ID: #{user.id}
          h2.sub-header Activities
          #whereubeen.table-responsive
          table#whereubeen.table.table-responsive.table-striped
            tbody
              tr
                th Longitude
                th Latitude
              each loc in locations
                tr
                  td= loc.lat
                  td= loc.long

    script(type='text/javascript').
      var locations = !{stringifiedLocations};
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCKJnJars0xRRUHCtbzBgTG7TWMQLk_rYc')
