/*.nav-sidebar>li.active{
  background-color: #337ab7 !important;
}

.nav-sidebar>li.active:hover{
  background-color: #337ab7;
}

.nav-sidebar>li.active>a{
  color: white;
}
*/
#slider-before-label{
  float: right;
  padding-left: 1em;
}

#slider-after-label{
  float: left;
  padding-right: 1em;
}

#button-filter-loader{
  display: none;
}

#activityLoader{
  text-align: center;
  display: none;
}

.clickable{
  cursor: hand;
  cursor: pointer;
}

.datepicker.datepicker-inline{
  background-color: white;
  border-radius: .3rem;
  border: 1px solid transparent;
  border-color: #ccc;
}

.datepicker { font-size: 16px; }

.blockquote{
  width: 90%;
}

