#map-outer { 
             height: 440px;
             padding: 20px;
             border: 2px solid #CCC;
             margin-bottom: 20px;
             background-color:#FFF 
		}			 
#map { height: 600px }

@media all and (max-width: 991px) {
    #map-outer  { height: 650px }
}

.main{
    text-align: center;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.name{
    text-transform:capitalize;
}
